<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)"> {{title}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{active_item}}</li>
    </ol>
    <div class="ms-auto">
        <a href="javascript:void(0)" class="btn btn-primary btn-icon text-white me-1">
            <i class="fe fe-plus"></i>
        </a>
        <a href="javascript:void(0)" class="btn btn-secondary btn-icon text-white me-1">
            <i class="fe fe-log-in"></i>
        </a>
        <a href="javascript:void(0)" class="btn btn-orange btn-icon text-white">
            <i class="fe fe-rotate-cw me-1"></i>  Upgrade Account
        </a>
    </div>
</div>
<!-- PAGE-HEADER END -->
